<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>ControlSysConfigServlet</servlet-name>
    <servlet-class>cn.lnu.web.servlet.ControlSysConfigServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControlSettinServlet</servlet-name>
    <servlet-class>cn.lnu.web.servlet.ControlSettinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestJson</servlet-name>
    <servlet-class>cn.lnu.web.servlet.TestJson</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>cn.lnu.web.controller.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScreenServlet</servlet-name>
    <servlet-class>cn.lnu.web.controller.ScreenServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>ControlSysConfigServlet</servlet-name>
    <url-pattern>/servlet/ControlSysConfigServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControlSettinServlet</servlet-name>
    <url-pattern>/servlet/ControlSettinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestJson</servlet-name>
    <url-pattern>/servlet/TestJson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/servlet/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScreenServlet</servlet-name>
    <url-pattern>/servlet/ScreenServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
